.ew-color-picker {
    min-width: 320px;
    position: absolute;
    box-sizing: content-box;
    border: 1px solid #ebeeff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 10;
    padding: 7px;
    background-color: #ffffff;
    display: none;
    text-align: left;
}

.ew-color-picker .ew-color-picker-content:after {
    content: "";
    display: table;
    clear: both;
}

.ew-color-picker-content {
    margin-bottom: 6px;
}

.ew-color-panel {
    position: relative;
    width: 280px;
    height: 180px;
    cursor: pointer;
}

.ew-color-white-panel,
.ew-color-black-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ew-color-white-panel {
    background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
}

.ew-color-black-panel {
    background: linear-gradient(0deg, #000, transparent);
}

.ew-color-slider {
    width: 27px;
    height: 180px;
    position: relative;
    float: right;
    box-sizing: border-box;
}
.ew-color-slider-bar {
    background: linear-gradient(180deg, #f00 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00);
    margin-left: 3px;
}
.ew-alpha-slider-bar,.ew-color-slider-bar{
    width: 12px;
    height: 100%;
    position: relative;
    float: left;
    cursor: pointer;
}
.ew-alpha-slider-wrapper{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==");
}
.ew-alpha-slider-bg,.ew-alpha-slider-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}
.ew-color-slider-thumb,.ew-alpha-slider-thumb {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 12px;
    height: 4px;
    border-radius: 1px;
    background: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
}

.ew-color-cursor{
    position: absolute;
    left: 100%;
    top: 0%;
    cursor: default;
    width: 4px;
    height: 4px;
    transform: translate(-2px, -2px);
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff,
        inset 0 0 2px 2px rgba(0, 0, 0, .4),
        0 0 2px 3px rgba(0, 0, 0, .5);
    transform: translate(-6px,-6px)
}

.ew-color-dropbtns {
    margin-top: 6px;
    position: relative;
}

.ew-color-input {
    width: 160px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dcdfe6;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
    transition: border-color .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
    outline: none;
}

.ew-color-input:focus {
    border-color: #239fe6;
}

.ew-color-dropbtn {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    transition: .1s;
    font-weight: 500;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    white-space: nowrap;
    color: #606266;
    border: 1px solid #dcdfe6;
}

.ew-color-dropbtngroup {
    position: absolute;
    right: 0;
    top: 1px;
}

.ew-color-clear {
    color: #4096ef;
    border-color: transparent;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.ew-color-clear:hover,
.ew-color-clear:active {
    color: #66b1ff;
}

.ew-color-sure {
    background-color: #ffffff;
    margin-left: 10px;
}

.ew-color-sure:hover,
.ew-color-sure:active {
    border-color: #4096ef;
    color: #4096ef;
}
.ew-pre-define-color-container{
    width: 280px;
    font-size: 12px;
    margin-top: 8px;
}
.ew-pre-define-color-container:after{
    content: "";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}
.ew-pre-define-color{
    float: left;
    margin: 0 0 8px 8px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: 1px solid #9b979b;
}
.ew-pre-define-color:nth-child(10n+1){
    margin-left: 0;
}
.ew-pre-define-color:hover,
.ew-pre-define-color:active{
    opacity: .8;
}
.ew-pre-define-color-active{
    box-shadow: 0 0 3px 2px #409eff;
}
.ew-color-picker-box{
    border: 1px solid #dcdee2;
    color: #535353;
    outline: none;
    display: inline-block;
    background-color: #ffffff;
    position: relative;
    border-radius: 4px;
    padding: 4px 7px;
    line-height: 1.5;
    cursor: pointer;
    font-size: 14px;
    transition: border-color  .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ew-color-picker-box-disabled{
    background-color: #c4c2c2;
    cursor: not-allowed;
}
.ew-color-picker-arrow,.ew-color-picker-no{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.ew-color-picker-no{
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #5e535f;
    border: 1px solid #5e535f;
    border-radius: 2px;
}
.ew-color-picker-arrow-left,.ew-color-picker-arrow-right{
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    overflow: hidden;
    border-bottom: 10px transparent dashed;
    border-left: 10px transparent dashed;
    border-right: 10px transparent dashed;
    border-top: 10px #fff solid;
}
.ew-color-picker-arrow-left{
    border-top: 10px solid #fff;
}