.ew-color-picker,
.ew-color-white-panel,
.ew-color-black-panel,
.ew-alpha-slider-bg,
.ew-alpha-slider-wrapper,
.ew-color-slider-thumb,
.ew-alpha-slider-thumb,
.ew-color-cursor,
.ew-color-drop-btn-group,
.ew-color-picker-arrow,
.ew-color-picker-no {
  position: absolute;
}
.ew-color-panel,
.ew-color-slider,
.ew-alpha-slider-bar,
.ew-color-slider-bar,
.ew-color-drop-container,
.ew-color-picker-box,
.ew-color-picker-arrow-left,
.ew-color-picker-arrow-right,
.ew-color-mode-container .ew-color-mode-up,
.ew-color-mode-container .ew-color-mode-down {
  position: relative;
}
.ew-color-slider,
.ew-color-slider-thumb,
.ew-alpha-slider-thumb,
.ew-color-input,
.ew-color-drop-btn {
  box-sizing: border-box;
}
.ew-pre-define-color,
.ew-color-panel,
.ew-alpha-slider-bar,
.ew-color-slider-bar,
.ew-color-slider-thumb,
.ew-alpha-slider-thumb,
.ew-color-drop-btn,
.ew-color-picker-box {
  cursor: pointer;
}
.ew-color-picker,
.ew-color-input,
.ew-color-sure,
.ew-color-picker-box,
.ew-color-picker-arrow-left,
.ew-color-picker-arrow-right {
  background-color: #fff;
}
.ew-pre-define-color,
.ew-color-input,
.ew-color-drop-btn,
.ew-color-picker-box {
  outline: none;
}
.ew-color-input,
.ew-color-drop-btn,
.ew-color-picker-box,
.ew-color-picker-arrow-left,
.ew-color-picker-arrow-right {
  display: inline-block;
}

.ew-color-picker .ew-color-picker-content:after,
.ew-pre-define-color-container:after {
  content: "";
  display: table;
  clear: both;
}
.ew-alpha-slider-bar,
.ew-color-slider-bar,
.ew-pre-define-color {
    float: left;
}
.ew-color-drop-btn,
.ew-color-picker-no {
    text-align: center;
}
.ew-color-picker {
  min-width: 320px;
  box-sizing: content-box;
  border: 1px solid #ebeeff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 10;
  padding: 7px;
  display: none;
  text-align: left;
}
.ew-color-picker.ew-color-picker-disabled *{
 cursor: not-allowed;
}
.ew-color-picker-content {
  margin-bottom: 6px;
}

.ew-color-panel {
  width: 280px;
  height: 180px;
}

.ew-color-white-panel,
.ew-color-black-panel,
.ew-alpha-slider-bg,
.ew-alpha-slider-wrapper,
.ew-color-picker-arrow,
.ew-color-picker-no {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.ew-color-white-panel {
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
}

.ew-color-black-panel {
  background: linear-gradient(0deg, #000, transparent);
}

.ew-color-slider {
  width: 27px;
  height: 180px;
  float: right;
}
.ew-color-slider-bar {
  background: linear-gradient(
    180deg,
    #f00 0,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00
  );
  margin-left: 3px;
}
.ew-alpha-slider-bar,
.ew-color-slider-bar {
  width: 12px;
  height: 100%;
}
.ew-alpha-slider-wrapper,.ew-pre-define-color.ew-has-alpha  {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==");
}

.ew-color-slider-thumb,
.ew-alpha-slider-thumb {
  left: 0;
  top: 0;
  width: 12px;
  height: 4px;
  border-radius: 1px;
  background: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.ew-color-cursor {
  left: 100%;
  top: 0%;
  cursor: default;
  width: 4px;
  height: 4px;
  transform: translate(-2px, -2px);
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff, inset 0 0 2px 2px rgba(0, 0, 0, 0.4),
    0 0 2px 3px rgba(0, 0, 0, 0.5);
  transform: translate(-6px, -6px);
}

.ew-color-drop-container {
  margin-top: 6px;
  min-height: 28px;
}

.ew-color-input {
  width: 160px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #dcdfe6;
  padding: 0 5px;
  transition: border-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
}
.ew-color-input:not(.ew-input-disabled):focus {
  border-color: #239fe6;
}

.ew-color-drop-btn {
  padding: 5px 5px;
  font-size: 12px;
  border-radius: 3px;
  transition: 0.1s;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  color: #606266;
  border: 1px solid #dcdfe6;
  letter-spacing: 1px;
}

.ew-color-drop-btn-group {
  right: 0;
  top: 1px;
}

.ew-color-clear {
  color: #4096ef;
  border-color: transparent;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.ew-color-clear:hover,
.ew-color-clear:active {
  color: #66b1ff;
}

.ew-color-sure {
  margin-left: 10px;
}

.ew-color-sure:hover,
.ew-color-sure:active {
  border-color: #4096ef;
  color: #4096ef;
}
.ew-pre-define-color-container {
  width: 280px;
  font-size: 12px;
  margin-top: 8px;
}
.ew-pre-define-color-container:after {
  visibility: hidden;
  height: 0;
}
.ew-pre-define-color {
  margin: 0 0 8px 8px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #9b979b;
}
.ew-pre-define-color-item {
  height: 100%;
  border-radius: 3px;
}

.ew-pre-define-color.ew-pre-define-color-disabled {
  cursor: not-allowed;
}
.ew-pre-define-color:nth-child(10n + 1) {
  margin-left: 0;
}
.ew-pre-define-color:not(.ew-pre-define-color-disabled):hover,
.ew-pre-define-color:not(.ew-pre-define-color-disabled):active {
  opacity: 0.8;
}
.ew-pre-define-color-active {
  box-shadow: 0 0 3px 2px #409eff;
}
.ew-color-picker-box {
  border: 1px solid #dcdee2;
  color: #535353;
  border-radius: 4px;
  padding: 4px 7px;
  line-height: 1.5;
  font-size: 14px;
  transition: border-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ew-color-picker-box-disabled,.ew-color-input.ew-input-disabled {
  background-color: #ebe7e7;
  cursor: not-allowed;
}
.ew-color-picker-arrow,
.ew-color-picker-no {
  width: 20px;
  height: 20px;
  margin: auto;
  z-index: 3;
}
.ew-color-picker-no {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  color: #5e535f;
  border: 1px solid #e2dfe2;
  border-radius: 2px;
}
.ew-color-picker-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ew-color-picker-arrow-left,
.ew-color-picker-arrow-right {
  width: 12px;
  height: 1px;
}
.ew-color-picker-arrow-left {
  transform: rotate(45deg);
}
.ew-color-picker-arrow-right {
  transform: rotate(-45deg);
  right: 3px;
}
.ew-color-mode-container {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  cursor: pointer;
  border-radius: 2px;
}
.ew-color-mode-container:hover {
  background-color: #cecece;
}
.ew-color-mode-container .ew-color-mode-up,
.ew-color-mode-container .ew-color-mode-down {
   width: 0;
   height: 0;
   border-width: 6px;
   border-style: solid;
}
.ew-color-mode-container .ew-color-mode-up {
  bottom: 5px;
  border-color:  transparent transparent #606266 transparent;
}
.ew-color-mode-container .ew-color-mode-down {
  top: 5px;
  border-color:  #606266 transparent transparent  transparent;
}
.ew-color-mode-title {
  color: #535455;
  font-size: 16px;
  display: inline-block;
  padding-right: 2px;
}
.ew-color-mode-title::after {
  content:":";
  display: inline-block;
}